:root {
  --ui-font-family: system-ui, sans-serif;
  --sidebar-font-family: Roboto, sans-serif;

  --bar-height: 39px;
  --action-bar-height: var(--bar-height);
  --sidebar-min-width: 242px;
  --sidebar-max-width: 600px;

  --toolbar-height: calc(2em + 1px);
  --toolbar-padding: 3px;
}
