:root {
  --theme-color-1: #3cbef6;
  --theme-color-1-l98: color(var(--theme-color-1) l(98%));
  --theme-color-1-l96: color(var(--theme-color-1) l(96%));
  --theme-color-1-l94: color(var(--theme-color-1) l(94%));
  --theme-color-1-l90: color(var(--theme-color-1) l(90%));
  --theme-color-1-l40: color(var(--theme-color-1) l(40%));
  --theme-color-2: lightseagreen;
  --theme-color-3: #ece71f;
  /*--theme-color-3: #fffa20;*/
  --border-color-1: #e4e7ed;
  --border-color-2: #f0f4fd;
  --bg-color-1: #f5f7fa
}